<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppAyniTech</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>

    <div class="container">
        <div class="row w-3 list radius">
            <%- include ('partials/product.html')%>
        </div>
        <div class="row w-7 product radius">
            <%- include ('partials/list.html')%>
        </div>
    </div>
    
    

</body>
</html>