<div id="frmProduct" class="radius">
    <div class="input-group">
        <label>Sku</label><br>
        <input type="text" id="txtSku" placeholder="Ingresa sku...">
    </div>

    <div class="input-group">
        <label>Nombre</label><br>
        <input type="text" id="txtNombre" placeholder="Ingresa nombre...">
    </div>

    <div class="input-group">
        <label>Categoria:</label><br>
        <input type="text" id="txtCategoria" placeholder="Ingresa categoria...">
    </div>

    <div class="input-group">
        <label>Stock</label><br>
        <input type="text" id="txtNombre"  placeholder="Ingresa stock...">
    </div>

    <button class="btn-primary" id="register">Registrar</button>
</div> 